body{
    background-color: darkgray;
}

.all{
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    width: 60%;
    height: auto;
    flex-direction: column;
}

.head{
    flex-grow: 0;
    background-color: white;
}

h1{
    text-align: center;
    color: #880808;
    font-family: sans-serif;
    font-weight: 900;
}

.item{
    padding: 10px;
    background-color: lightgrey;
    justify-content: center;
}

.paragraph{
    display: flex;
    justify-content: space-between;
}

.paragraph-input{
    width: 50%;
}

.phead{
    padding-left: 10%;
}

.section{
    display: flex;
}

.input{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

h5{
    color: #808080;
    font-family: sans-serif;
    padding-left: 5.5%;
}

p{
    color: #880808;
    font-family: sans-serif;
    font-weight: 600;
    padding-left: 6%;
    padding-top: 2%;
}

.first{
    width: 50%;
    padding-left: 5.5%;
}

.second{
    width: 50%;
    padding-right: 5.5%;        
}

label{
    color: #880808;
    font-family: sans-serif;
    font-weight: 540;
    display: block;
    cursor: pointer;
    padding-top: 3%;
}

input[type=date]{
    width: 80%;
    height: 40px;
}

input[type=text]{
    width: 80%;
    height: 40px;
}

input[type=radio]{
    padding-top: 10%;
}

.foot{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    width: 100%;
    height: 250px;
    padding-left: 5px;
    font-size: 18px;
    font-weight: 540;
}

input[type=submit]{
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    background: linear-gradient(black,grey);
}

::placeholder{
    padding-left: 5px;
    font-size: 18px;
    font-weight: 540;
}

.item-foot-text{
    width: 88%;
}

.item-foot-submit{
    padding-top: 4%;
    width: 30%;
}



